body {
  background-image: url('https://image.freepik.com/free-vector/grunge-background-with-pastel-colours_1048-1380.jpg');
  background-size: cover;
}

h1{
font-size: 40px;
color: #141314;
font-style: italic;
font-family: fantasy;
}

p{
  font-family: monospace;
}

.pic{
width: 150px;
margin: 20px;
}

#Total{
font-size: 25px;
font-weight: bold;

}
